<p><%= t('.body_intro') %></p>
<p>
  <%= link_to t('.cta'), edit_password_url(@user.password_reset_token) %>
</p>
<p>
  <%= t('.body_expiry', time: distance_of_time_in_words(0, @user.password_reset_token_expires_in)) %>
</p>
